<h1>post index</h1>
<%@posts.each do |e|%>
<div><%= e.title %></div>
<% end %>

<%= form_for @post do |f| %>
  
<div>Title:<%= f.text_field :title %></div><br>
<div>Post: <%= f.text_area :content %></div><br>
	<%= f.submit %>
<% end %>